@model Patient

<h2>Thanks!</h2>
<p>
    @Model.Name has been successfully registered as @Model.Occupation on @Model.RegistrationTime
</p>

<p>Click <a class="navbar-link" asp-action="ListPatients">here</a> to see who is registered.</p>
